
*{
    font-family: sans-serif;
    margin:unset;   
}
header{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: space-around;
    font-size: 2rem;
    align-items: center;
    padding: 1em 0em;
}
header img{
    border-radius:50%;
}


table,td,th{
    border: 1px solid black;
}

footer{
    background-color: darkblue;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 0rem;
}
footer p{
    padding-bottom: 2rem;
}
footer a{
    /* text-decoration: none; */
    color: white;
}
.container{
    margin: 3rem;
}